{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>{{ trail.trail_name }}</h1>
  <img src={{ trail.trail_image}} alt="trail image">
  <h2>Submitted By: {{trail.author.username}}</h2>
  <h3>Distance: {{ trail.distance }}</h3>
  <p>{{trail.comment}}</p>
   {% if trail.author == current_user %}
     <div>
       <a class="btn btn-secondary" href="{{ url_for('trails.update', trail_id=trail.id) }}">Update</a>
       <br>
       <form action="{{ url_for('trails.delete_trail', trail_id=trail.id) }}" method="POST">
        <input class="btn btn-danger" type="submit" value="Delete">
      </form>
     </div>
   {% endif %}
</div>
{% endblock content %}