{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="jumbotron">
            <div align="center">
                <h1>{{user.username}}'s Trails</h1>
            </div>
        </div>
     {% for trail in trails.items %}
        <div>
            <h5>{{ trail.trail_name }}</h5>
            <img src={{ trail.trail_image }} alt="Trail Image">
            <p>{{ trail.distance }}</p>
            <p>{{ trail.review }}</p>
            <p>{{ trail.comment }}</p>
        </div>
    {% endfor %}
    </div>

    <nav aria-label="Page Navigation example">
        <ul class="pagination justify-content-center">

            {% for page_num in trails.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                {% if trails.page == page_num %}
                <li class="page-item disabled">
                    <a class="page-link" href="{{url_for('users.user_posts', username=user.username, page=page_num)}}">{{ page_num }}</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="{{url_for('users.user_posts', username=user.username, page=page_num)}}">{{ page_num }}</a>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>


{% endblock %}